
$card-width: 40em;

@mixin card($card-width: $card-width) {
  position: relative;
  box-sizing: border-box;
  display: block;
  width: $card-width;
  max-width: 90%;
  height: auto;
  min-height: 1em;
  max-height: 80%;
  margin: auto;
  padding: 0 1.5em;
  background-color: #ffffff;
  border: solid 1px #ededed;
  border-radius: 3px;
  overflow-y: auto;
  z-index: 3;
  @include shadow(3);

  > .topbar {
    position: -webkit-sticky;
    top: 0;
    margin: 0 -1.5em;
    z-index: $z-relative-topbar;
    @include shadow(2);
  }

  > * {
    margin-top: 1.5em;
    margin-bottom: 1.5em;
  }
}

@mixin series {
  display: flex;
  height: 100%;
  justify-content: flex-start;
  overflow-x: auto;
  overflow-y: hidden;

  &::before, &::after {
    display: block;
    content: "";
    flex: 1 0 calc(50% - #{$card-width} / 2 - 1em);
  }

  .card {
    position: relative !important;
    flex: 0 0 $card-width;
    margin: auto 1em;
  }

  > .card-group {
    position: relative !important;
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    flex: 0 0 ($card-width + 2em);
    max-width: 100%;
    height: 100%;
    margin: 0;
    padding: 0 1em;
    overflow-x: visible;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;

    &::before,
    &::after {
      display: block;
      content: "";
      flex: 1 0 4em;
    }

    .card {
      width: $card-width;
      max-width: 100% !important;
      height: auto !important;
      max-height: none !important;
      margin: 0;
      flex: none;
      overflow-y: visible;

      + .card {
        margin-top: 2em;
      }
    }
  }
}

.card {
  @include card;
}
