
$column-width: 300px;
$column-spacing: 8px;

.explore {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0 auto;
  padding: ($column-spacing / 2) 0;
  cursor: default;

  > * {
    flex: 0 0 $column-width - $column-spacing;
  }

  .jointsource {
    box-sizing: border-box;
    position: relative;
    margin: $column-spacing / 2;
    padding: 0 1em;
    width: $column-width - $column-spacing;
    height: $column-width - $column-spacing;
    border-radius: 3px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    border: solid 1px #e8e8e8;
    @include lift(0, 2);
    transition: box-shadow ease 0.3s, border-color ease 0.3s;
    font-size: 0.9em;

    > .jointsource-meta {
      flex: 1 1 auto;
      height: auto;
      overflow: hidden;
      line-height: 1.25;
      @include fade-bottom(30%);

      > * {
        margin: 0.25em 0;
      }

      > h3 {
        margin-top: 1em;
        margin-bottom: 0.5em;
      }
    }

    > .jointsource-status {
      height: auto;
      padding: 0.5em 0 1em;
      color: lighten($color-text, 40%);
      text-transform: lowercase;
      opacity: 0;
      transition: opacity ease 0.2s;

      > :not(:last-child) {
        margin-right: 0.25em;
      }
    }

    &:hover {
      @include lift(1, 4);
      border-color: #d0d0d0;

      > .jointsource-status {
        opacity: 1;
      }
    }

    &.dark,
    &[data-ica-jointsource-feature="image"] {
      // background-color: mix($color-primary, #000, 30%);
      background-color: #444;
      color: $color-text-light;
      text-shadow: 0 0 1em rgba(0, 0, 0, 0.20);

      > .jointsource-status {
        color: rgba($color-text-light, 0.60);
      }
    }

    &[data-ica-jointsource-feature="image"] {
      // background-blend-mode: luminosity;
      background-blend-mode: multiply;
      background-size: cover;
      background-position: center;
    }
  }

  &.explore-list {
    flex-direction: column;
    max-width: 3 * $column-width;

    .jointsource {
      flex: none;
      width: auto;
      height: $column-width * 0.6 - $column-spacing;
    }
  }
}
