
$column-width: 300px;
$column-spacing: 8px;

.explore {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0 auto;
  padding: ($column-spacing / 2) 0;
  cursor: default;

  > * {
    flex: 0 0 $column-width - $column-spacing;
  }

  .jointsource {
    box-sizing: border-box;
    position: relative;
    margin: $column-spacing / 2;
    width: $column-width - $column-spacing;
    height: $column-width - $column-spacing;
    border-radius: 3px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    border: solid 1px #e8e8e8;
    @include lift(0, 2);
    transition: box-shadow ease 0.3s, border-color ease 0.3s;
    font-size: 0.9em;

    > .jointsource-backdrop {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: -1;

      > .jointsource-backdrop-image {
          position: absolute;
          top: 0;
          right: 0;
          bottom: 0;
          left: 0;
          background-size: cover;
          background-position: center;
      }
    }

    > .jointsource-meta {
      flex: 1 1 auto;
      padding: 0 1em;
      height: auto;
      overflow-y: hidden;
      @include fade(30%);

      h3 {
        font-size: 1.25em;
        margin-top: 1em;
        margin-bottom: 0.5em;
      }

      p {
        margin: 0.25em 0;
      }
    }

    > .jointsource-status {
      flex: none;
      padding: 0.5em 1em 1em;
      color: lighten($color-text, 40%);
      text-transform: lowercase;
      opacity: 0;
      transition: opacity ease 0.2s;

      > :not(:last-child) {
        margin-right: 0.25em;
      }
    }

    &:hover {
      @include lift(1, 4);
      border-color: #d0d0d0;

      > .jointsource-status {
        opacity: 1;
      }
    }

    &.dark {
      color: $color-text-light;
      text-shadow: 0 1px 0.5em #000;

      > .jointsource-meta {

        > [data-ica-jointsource-meta="intro"] {
          display: none;
        }
      }

      > .jointsource-status {
        color: rgba($color-text-light, 0.60);

        a:hover {

        }
      }
    }
  }
}
