
.map {
  @include popup-series;

  .article {

    .jointsource-nav {
      position: -webkit-sticky;
      top: 0;
      margin: 0 -1.5em;
      min-height: 2em;
      display: flex;
      background-color: #fff;
      border-bottom: solid 1px #f4f4f4;
      @include lift($z-popup + $z-relative-topbar, 1.5);
      overflow-y: hidden;

      > * {
        line-height: 1.5;
        flex: 1 0 auto;
        text-align: center;
        padding: 0.25em 0;
        font-family: $font-mono;
        color: rgba($color-text, 0.80);
      }

      > .jointsource-nav-btn {
        box-sizing: border-box;
        flex: 0 0 3em;
        background-size: 1em 1em;
        background-position: center;
        background-repeat: no-repeat;
        transition: opacity ease 0.2s, background-color ease 0.2s;

        &:hover {
          background-color: lighten($color-primary, 40%);
        }

        &.left {
          border-right: solid 1px #f4f4f4;
          background-image: inline-image("icon-left.svg");
        }

        &.right {
          border-left: solid 1px #f4f4f4;
          background-image: inline-image("icon-right.svg");
        }
      }
    }

    .sources-container {
      position: relative;
      margin: 0 -1.5em;

      > .sources {

        > .source {
          box-sizing: border-box;

          &.jointsource {

            > .jointsource-backdrop {
              position: relative;
              height: 0.6 * $card-width;
              max-height: 40vw;

              > .jointsource-backdrop-image {
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                background-size: cover;
                background-position: top;
              }
            }

            > .jointsource-meta {
              margin: 1.5em 0;
              padding: 0 1.5em;

              h3 {
                margin: 0.5em 0;
              }

              h4 {
                margin: 1.25em 0 0.625em 0;
                font-size: 0.8em;
                font-weight: 400;
                text-transform: uppercase;
                color: lighten($color-text, 20%);
                -webkit-user-select: text;
              }

              p {
                margin: 0.5em 0;
                font-family: $font-sans-serif-alt;
              }

              [data-ica-jointsource-meta] {
                -webkit-user-select: text;
              }
            }
          }

          &.textsource {

          }

          &.imagesource {

            > img {
              box-sizing: border-box;
              display: block;
              width: 100%;
            }
          }

          &.audiosource {

            .plyr {
              position: static;
              position: -webkit-sticky;
              top: 2em;
              border-top: solid 1px #f4f4f4;
              border-bottom: solid 1px #f4f4f4;
            }

            .text:not(:empty) {
              border-top: solid 1px #f4f4f4;
            }
          }

          &.videosource {

          }

          > .jointsource-control,
          > .source-control {
            padding: 1.5em;
            border-top: solid 1px #f4f4f4;
          }

          > .jointsource-comments {
            padding: 1.5em;
            border-top: solid 3px #f4f4f4;

            h4 {
              font-size: 1em;
              font-weight: 400;
              margin: 0 0 1em;
              text-transform: uppercase;
              color: lighten($color-text, 20%);
            }

            .comment {
              @include flex;

              + .comment {
                margin-top: 0.5em;
              }

              > :first-child {
                flex: 0 0 auto;
                margin-right: 0.5em;
                width: 1.5em;
              }

              .comment-author-avatar {
                width: 1.5em;
                height: 1.5em;
                box-sizing: border-box;
                background-color: lighten($color-primary, 20%);
                border-radius: 50%;
              }

              .comment-author-name {
                margin: 0 0 0.5em;
                height: 1.5em;
                font-size: 1em;
                line-height: 1.5;
                font-weight: 500;
                -webkit-user-select: text;
              }

              .comment-card {
                width: auto;
                min-height: 2.5em;
                padding: 0.5em 1em;
                border: solid 1px #f4f4f4;
                border-radius: 3px;
                -webkit-user-select: text;

                .editor {
                  @include quill-editor;
                  font-family: $font-sans-serif-alt;
                }

                p {
                  margin: 0.5em 0;
                }

                .comment-status {
                  @include flex;
                  line-height: 1.5;
                  margin: 0.5em 0;

                  > * {
                    flex: 0 0 auto;
                    color: lighten($color-text, 30%);

                    &:not(:last-child) {
                      margin-right: 0.5em;
                    }
                  }
                }
              }

              &.draft {

                [data-ica-timestamp="authored"] {
                  color: $color-primary;
                }
              }
            }
          }

          .download {
            display: block;
            padding: 1.5em;
          }
        }
      }
    }
  }

  .text {
    padding: 0 1.5em;
    overflow: auto;

    & > p {
      margin: 1.25em 0;
      line-height: 1.5;
      font-family: $font-sans-serif-alt;

      & > span {
        display: inline;
        padding: 0.1em 0;
        transition: border-color ease 0.3s;
        -webkit-user-select: text;

        &[data-ica-text-extract]:not([data-ica-text-extract=""]) {
          background-color: rgba($color-primary, 0.40);
          border-bottom: solid 3px transparent;

          // Debugging purpose
          // &::before {
          //   content: attr(data-ica-textsource-extract);
          //   position: absolute;
          //   font-size: 0.5em;
          //   margin-top: -1em;
          //   font-style: italic;
          //   color: #444;
          // }
        }
      }
    }
  }
}
