
.map {
  @include popup-series;

  .article {

    > .sources-container {
      position: relative;
      margin: 0 -1.5em;
      border-bottom: solid 1px #f4f4f4;

      > .sources-status {
        position: sticky;
        position: -webkit-sticky;
        top: 3em;
        min-height: 2em;
        display: flex;
        background-color: #fff;
        border-bottom: solid 1px #f4f4f4;
        @include lift(0, 1.5);

        > * {
          line-height: 1.5;
          flex: 1 0 auto;
          text-align: center;
          padding: 0.25em 0;
        }

        > :not(:last-child) {
          border-right: solid 1px rgba(0, 0, 0, 0.075);
        }

        > .sources-control {
          box-sizing: border-box;
          flex: 0 0 3em;
          background-size: 1em 1em;
          background-position: center;
          background-repeat: no-repeat;
          transition: opacity ease 0.3s;

          &.sources-control-left {
            background-image: inline-image("icon-left.svg");
          }

          &.sources-control-right {
            background-image: inline-image("icon-right.svg");
          }
        }
      }

      > .sources {
        display: flex;
        overflow-x: auto;
        overflow-y: hidden;
        align-items: flex-start;
        transition: height ease 0.4s;

        > .source {
          flex: none;
          box-sizing: border-box;
          width: 100%;
          margin: 0;
          padding: 0.5em 1.5em;

          &.textsource {
            padding-top: 0;
            padding-bottom: 0;
            // text-align: justify;

            & > p {
              margin: 1.25em 0;
              line-height: 1.5;

              & > span {
                display: inline;
                padding: 0.1em 0;
                transition: border-color ease 0.3s;
                -webkit-user-select: text;

                &:not([data-ica-textsource-extract=""]) {
                  background-color: rgba($color-primary, 0.40);
                  border-bottom: solid 3px transparent;

                  // Debugging purpose
                  // &::before {
                  //   content: attr(data-ica-textsource-extract);
                  //   position: absolute;
                  //   font-size: 0.5em;
                  //   margin-top: -1em;
                  //   font-style: italic;
                  //   color: #444;
                  // }
                }
              }
            }
          }

          &.imagesource {
            // margin: 0;
            padding: 0;

            > img {
              box-sizing: border-box;
              display: block;
              width: 100%;
            }
          }

          &.audiosource {
          }

          &.videosource {
          }
        }
      }
    }


    [data-ica-jointsource-meta] {
      -webkit-user-select: text;
    }

    > .jointsource-meta {
      margin-top: 1.5em;
      margin-bottom: 1.5em;

      h4 {
        margin: 1.25em 0 0.625em 0;
        font-size: 0.8em;
        font-weight: normal;
        text-transform: uppercase;
        color: lighten($color-text, 20%);
        -webkit-user-select: text;
      }

      p {
        margin: 0.5em 0;
      }
    }
  }
}
