
body {
  margin: 0 8px;
  font-size: 16px;
  overflow: scroll;
  background-color: $color-background;
  font-family: $font-sans-serif;
  font-weight: normal;
  color: $color-text;
  -webkit-user-select: none;
  -webkit-font-smoothing: antialiased;
}

h3 {
  font-size: 1.2em;
  margin: 1.25em 0;
}

h4 {
  font-weight: 500;
}

p {
  margin: 1.25em 0;
  line-height: 1.5;
}

a {
  color: inherit !important;
  text-decoration: none;
  transition: color ease 0.2s;

  &:not(.solid) {

    &:hover,
    &.active {
      color: $color-accent !important;
    }
  }

  &:not([href]),
  &[href^="#"] {
    cursor: default;
  }
}

input,
textarea {
  border: none;
  outline: none;
}

::selection {
  background-color: rgba($color-accent, 0.40);
}

.color-accent {
  color: $color-accent !important;
}

.dark {

  a {

    &:not(.solid) {

      &:hover,
      &.active {
        color: #fff !important;
      }
    }
  }
}
