
.popup {
  position: fixed;
  display: block;
  box-sizing: border-box;
  width: 30em;
  max-width: 80%;
  height: auto;
  min-height: 4em;
  max-height: 80%;
  margin: auto;
  padding: 0 1.5em;
  background-color: #ffffff;
  border: solid 1px rgba(0, 0, 0, 0.15);
  border-radius: 6px;
  overflow-x: hidden;
  overflow-y: auto;
  @include card($z-popup, 2);

  > .topbar {
    position: sticky;
    position: -webkit-sticky;
    margin: 0 -1.5em;
    top: 0;
    @include card($z-topbar, 1.5);

    + section {
      margin: 1.5em 0;

      &:not(:last-child) {
        margin-bottom: 1.5em;
      }
    }
  }
}

.popup-series {
  position: fixed;
  display: flex;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  height: 100%;
  justify-content: flex-start;
  overflow-x: auto;
  overflow-y: hidden;
  background-color: rgba(#fefefe, 0.95);
  z-index: $z-popup;

  &::before, &::after {
    display: block;
    content: "";
    flex: 1 0 calc((100% - 30em) / 2);
    min-width: 10%;
  }

  .popup {
    position: relative !important;
    // width: 30em;
    flex: 0 0 30em;

    &:not(:last-child) {
      margin-right: 2em;
    }
  }

  > .popup-group {
    position: relative !important;
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    flex: 0 0 30em;
    max-width: 80%;
    height: 100%;
    padding: 0;
    overflow-x: hidden;
    overflow-y: auto;

    padding-right: 1em;
    &:not(:last-child) {
      margin-right: 1em;
    }
    &:last-child {
      margin-right: -1em;
    }

    &::before,
    &::after {
      display: block;
      content: "";
      flex: 1 0 0;
      min-height: 10%;
    }

    > .popup {
      max-width: 100% !important;
      height: auto;
      max-height: none;
      flex: none;

      &:not(:last-child) {
        margin-right: auto;
        margin-bottom: 2em;
      }
    }
  }
}
