
.publisher {
  @include popup-series;

  .publisher-meta-container {
    margin: 1.5em -1.5em;
    padding: 0 1.5em;
  }

  .publisher-sources {

    .publisher-source {
      @include card(0);
      width: auto;
      max-width: none;
      max-height: none;
      overflow-y: visible;
      margin: 1.5em 0;

      > .topbar {
        position: -webkit-sticky;
        top: 3em;
      }

      > .source-container {
        margin: 0 -1.5em;
      }

      .editor {
        margin: 0;
        padding: 0 1.5em;
        border: 0;
        font-size: 1em;
        outline: none;
        -webkit-user-select: text;

        // Adapted from: https://cdn.quilljs.com/1.2.2/quill.snow.css
        .ql-editor {
          box-sizing: border-box;
          cursor: text;
          height: 100%;
          min-height: 10em;
          outline: none;
          overflow-y: auto;
          white-space: pre-wrap;
          word-wrap: break-word;

          &::before {
            display: block;
            content: attr(data-placeholder);
            margin: 1.25em 0;
            line-height: 1.5;
            color: #a9a9a9;
          }
        }
        .ql-clipboard {
          left: -100000px;
          height: 1px;
          overflow-y: hidden;
          position: absolute;
          top: 50%;
        }
        .ql-clipboard p {
          margin: 0;
          padding: 0;
        }
      }

      &.publisher-textsource{

      }

      &.publisher-imagesource {

        .image {
          display: block;
          min-height: 10em;

          .image-view {
            display: block;
            width: 100%;
          }
        }
      }

      &.publisher-audiosource {

        .plyr {
          position: static;
          position: -webkit-sticky;
          top: 6em;
          border-top: solid 1px #f4f4f4;
          border-bottom: solid 1px #f4f4f4;
        }
      }

      &.publisher-videosource {

      }
    }
  }

  .publisher-sources-control {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: -0.5em;
  }
}
