
.search {
  display: flex;
  flex-wrap: wrap;

  > .search-control {
    box-sizing: border-box;
    flex: none;
    width: 300px;
    padding: 0 1.25em 0 0.25em;
  }

  > .explore {
    flex: 1 0 300px;
    margin: 0;
  }
}