
.search {

  > .search-control {
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    max-width: 60em;
    margin: 0 (- $column-spacing) 0 0;
    padding: 0 ($column-spacing / 2);

    > * {
      flex: 1 0 15em;
      margin-right: $column-spacing;
    }
  }

  > .explore {
    flex: 1 0 300px;
    margin: 0;
  }
}
