
.topbar {
  display: flex;
  box-sizing: content-box;
  height: 3em;
  background-color: #fff;
  border-bottom: solid 1px #e4e4e4;
  overflow-x: auto;
  justify-content: flex-start;
  font-weight: bold;
  cursor: default;
  -webkit-overflow-scrolling: touch;
  @include lift($z-relative-topbar, 3);

  &:before, &:after {
    display: block;
    content: "";
    flex: 0 0 0.5em;
  }

  body > & {
    position: fixed;
    top: 0;
    right : 0;
    left: 0;

    & ~ .app-view {
      padding-top: 3em;
    }
  }

  h1,
  h2,
  h3 {
    margin: 0;
    font-size: 1em;
    line-height: 1;
    font-weight: bold;
    padding: 1em;
    flex: 1 0 auto;
  }

  > .title-complex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 0.5em;
    padding-bottom: 0.5em;

    > * {
      flex: none;
    }

    > .subtitle {
      display: block;
      font-size: 0.75em;
      font-weight: 500;
      padding-top: 0.1em;
      line-height: 1;
    }
  }

  > .topbar-item {
    position: relative;
    flex: 0 0 auto;
    padding: 1em 0.75em;
    line-height: 1em;
    font-weight: 500;

    &:after {
      display: block;
      position: absolute;
      content: "";
      right: 0;
      bottom: 0;
      left: 0;
      height: 0;
      background-color: transparent;

      transition: height ease 0.2s, background-color ease 0.2s;
    }

    &:hover,
    &.active {

      &:after {
        height: 1px;
        background-color: $color-accent !important;
      }
    }
  }
}
