
/* Colors */

$color-primary: hsl(242, 900%, 66%);
$color-accent: hsl(20, 100%, 55%);
$color-text: #444;
$color-text-light: #fefefe;

$color-background: #fdfdfd;

/* Fonts */

$font-sans-serif: Roboto, sans-serif;
$font-mono: "Roboto Mono", monospace;
$font-serif: Charter, serif;

/* Z-Index & Effects */

@mixin shadow($index) {
  box-shadow: 0 #{($index * 2/3) + "px"} #{($index * $index / 2) + "px"} rgba(#000, 0.02 * $index);
}

@mixin lift($z-index, $shadow-index) {
  z-index: $z-index;
  @include shadow($shadow-index);
}

$z-popup: 6;
$z-relative-topbar: 2;

@mixin fade($offset: 0.5em, $angle: 0deg) {
  -webkit-mask: linear-gradient($angle, transparent, black $offset);
}

/* Main */

/* Normalize */
@import "normalize";

/* Primitive components */
@import "tokens";
@import "card";

/* Larger components */
@import "form";
@import "topbar";
@import "popup";
@import "waveform";

/** Customizations */
@import "plyr";

/* App */
@import "publisher";
@import "explore";
@import "search";
@import "map";
@import "app";
