
/* Colors */

$color-primary: #fc4a1a;
$color-accent: #4abdac;
$color-text: #444;
$color-text-light: #fefefe;

$color-background: #fdfdfd;

/* Fonts */

@import url("https://fonts.googleapis.com/css?family=Roboto+Mono|Roboto:400,500,700|Lato");

$font-sans-serif: Roboto, sans-serif;
$font-sans-serif-alt: Lato, $font-sans-serif;
$font-mono: "Roboto Mono", monospace;

/* Z-Index & Effects */

@mixin shadow($index) {
  box-shadow: 0 #{($index / 3) + "px"} #{($index * $index / 3) + "px"} rgba(#000, 0.02 * $index);
}

@mixin lift($z-index, $shadow-index) {
  z-index: $z-index;
  @include shadow($shadow-index);
}

$z-popup: 3;
$z-relative-topbar: 2;

@mixin fade($offset: 0.5em, $angle: 0deg, $to: transparent) {
  -webkit-mask: linear-gradient($angle, $to, black $offset);
}

/* Main */

/* Normalize */
@import "normalize";

@mixin flex {
  display: flex;

  > .flex-space {
    flex-grow: 1;
  }
}

/* Primitive components */
@import "tokens";
@import "card";

/* Larger components */
@import "form";
@import "topbar";
@import "popup";
@import "waveform";
@import "notifications";
@import "prompts";

/** Customizations */
@import "plyr";
@import "quill";

/* App */
@import "publisher";
@import "explore";
@import "search";
@import "map";
@import "app";
@import "about";
