
/* Colors */

$color-primary: hsl(242, 900%, 66%);
$color-accent: hsl(20, 100%, 55%);
$color-text: #444;
$color-text-light: #fefefe;

$color-background: #fdfdfd;

/* Fonts */

$font-sans-serif: Roboto, sans-serif;
$font-serif: Charter, serif;

/* Z-Index & Effects */

@mixin lift($z-index, $shadow-index) {
  z-index: $z-index;
  box-shadow: 0 unquote(($shadow-index / 2) + "px") unquote(($shadow-index * $shadow-index / 2) + "px") rgba(0, 0, 0, 0.05);
}

$z-topbar: 4;
$z-popup: 8;

@mixin fade-bottom($offset: 0.5em) {
  -webkit-mask: linear-gradient(0deg, transparent, black $offset);
}

/* Main */

/* Normalize */
@import "normalize";

/* Primitive components */
@import "tokens";
@import "card";

/* Larger components */
@import "form";
@import "topbar";
@import "popup";
@import "waveform";

/* App */
@import "publisher";
@import "explore";
@import "article";
@import "map";
@import "app";
