
.source.textsource {
  @include source;
  padding: 1em 2em;
  // text-align: justify;
  -webkit-user-select: text;

  & > p {
    margin: 1.25em 0;
    line-height: 1.5;

    & > span {
      display: inline;
      padding: 0.1em 0;
      transition: border-color ease 0.3s;

      &:not([data-ica-textsource-extract=""]) {
        background-color: rgba($color-primary, 0.40);
        border-bottom: solid 3px transparent;

        // Debugging purpose
        // &::before {
        //   content: attr(data-ica-textsource-extract);
        //   position: absolute;
        //   font-size: 0.5em;
        //   margin-top: -1em;
        //   font-style: italic;
        //   color: #444;
        // }
      }

      &::selection {
        background-color: rgba($color-primary, 0.40);
      }
    }
  }
}
