
.app-header {
  position: fixed;
  top: 0;
  right : 0;
  left: 0;

  li a {

    &:after {
      display: block;
      position: absolute;
      content: "";
      right: -0.25em;
      bottom: 0;
      left: -0.25em;
      height: 0;
      background-color: transparent;

      transition: height ease 0.2s, background-color ease 0.2s;
    }

    &:hover,
    &.active {

      &:after {
        height: 1px;
        background-color: $color-primary !important;
      }
    }
  }
}

.app-view {
  padding-top: calc(3em + 1px);

  .conversations,
  .discussions,
  .search,
  .account,
  .about {
    box-sizing: border-box;
    margin: 0 auto;
  }

  .account,
  .about {
    padding: 0 ($column-spacing / 2);
  }

  .search {

    > .search-control {
      box-sizing: border-box;
      display: flex;
      flex-wrap: wrap;
      max-width: 60em;
      margin: 0 (- $column-spacing) 0 0;
      padding: 0 ($column-spacing / 2);

      > * {
        flex: 1 0 auto;
        width: 15em;
        margin-right: $column-spacing;
      }
    }
  }

  .about-container {
    padding: 1em 0;
  }

  .about {
    margin: 2em auto;
    max-width: 900px;

    h2 {
      margin: 1em 0;
      text-align: center;
      -webkit-user-select: text;
    }

    h3 {
      text-align: center;
      -webkit-user-select: text;
    }

    p {
      font-family: $font-sans-serif-alt;
      -webkit-user-select: text;
    }

    // Team members

    .team {
      text-align: center;
      margin: 1.25em -1.25em -1.25em;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
      overflow: hidden;

      .team-member {
        box-sizing: border-box;
        flex: none;
        width: 300px;
        padding: 0 1.25em;

        .img-circle {
          display: block;
          margin: 0 auto;
          border-radius: 50%;
        }

        h3 {
          color: $color-primary !important;
          text-align: center;
          margin-bottom: 0.5em;
        }

        .role {
          margin-top: 0;
          color: rgba($color-text, 0.80);
        }
      }
    }
  }
}