
.app-header {
  position: fixed;
  top: 0;
  right : 0;
  left: 0;
  will-change: transform;

  li a {

    &:after {
      display: block;
      position: absolute;
      content: "";
      right: -0.25em;
      bottom: 0;
      left: -0.25em;
      height: 0;
      background-color: transparent;

      transition: height ease 0.2s, background-color ease 0.2s;
    }

    &:hover,
    &.active {

      &:after {
        height: 1px;
        background-color: $color-primary !important;
      }
    }
  }
}

.app-view {
  padding-top: calc(3em + 1px);

  .conversations,
  .discussions,
  .search,
  .account,
  .about {
    box-sizing: border-box;
    margin: 0 auto;
  }

  .account,
  .about {
    padding: 0 ($column-spacing / 2);
  }

  .search {

    > .search-control {
      box-sizing: border-box;
      display: flex;
      flex-wrap: wrap;
      max-width: 60em;
      margin: 0 (- $column-spacing) 0 0;
      padding: 0 ($column-spacing / 2);

      > * {
        flex: 1 0 auto;
        width: 15em;
        margin-right: $column-spacing;
      }
    }
  }

  .about-container {
    padding: 1em 0;
  }

  .about {
    margin: 2em auto;
    max-width: 900px;
    -webkit-user-select: text;

    h2 {
      margin: 1em 0;
      text-align: center;
    }

    h3 {
      text-align: center;
    }

    p {
      font-family: $font-sans-serif-alt;
    }

    // Team members

    .team {
      text-align: center;
      margin: 1.25em 0 -1.25em;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
      overflow: hidden;

      .team-member {
        box-sizing: border-box;
        flex: none;
        width: 300px - $column-spacing;
        margin: 0 0 0.75em;
        padding: 0 1em;

        .member-img {
          display: block;
          margin: 0 auto;
          width: 100px;
          border-radius: 50%;
        }

        h3 {
          color: $color-primary;
          text-align: center;
          margin: 1.25em 0 0.5em;
        }

        p {
          margin: 0.5em 0;
        }

        .member-role {
          color: lighten($color-text, 20%);
        }
      }
    }
  }
}