
$card-width: 40em;

@mixin card($card-width: $card-width) {
  position: relative;
  box-sizing: border-box;
  display: block;
  padding: 0 1.5em;
  width: $card-width;
  max-width: 100%;
  height: auto;
  min-height: 1em;
  background-color: #ffffff;
  border: solid 1px $color-border;
  border-radius: 3px;
  z-index: 3;
  @include shadow(3);

  > .topbar {
    position: -webkit-sticky;
    top: 0;
    margin: 0 -1.5em;
    padding: 0 1.5em;
    z-index: $z-relative-topbar;
    @include shadow(2);
    border-radius: 1px 1px 0 0; // Fix sharp corners
  }

  > * {
    margin-top: 1.5em;
    margin-bottom: 1.5em;
  }
}

.card {
  @include card;
}
