
$column-width: 300px;
$column-spacing: 8px;

.explore {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0 auto;
  padding: ($column-spacing / 2) 0;
  cursor: default;

  > * {
    flex: none;
  }

  .conversation {
    box-sizing: border-box;
    position: relative;
    margin: $column-spacing / 2;
    width: $column-width - $column-spacing;
    height: $column-width - $column-spacing;
    border-radius: 3px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    border: solid 1px #ededed;
    font-size: 0.875em;
    @include shadow(3);
    transition: box-shadow ease 0.3s, border-color ease 0.3s;

    > .conversation-backdrop {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      @include fade(8em, 180deg, rgba(#000, 0.50));

      > .conversation-backdrop-image {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-size: cover;
        background-position: center;
      }
    }

    > .conversation-meta {
      flex: 1 1 auto;
      padding: 0 1.5em;
      height: auto;
      overflow: hidden;
      @include fade(30%);
      z-index: 2;

      h3 {
        margin-top: 1em;
        margin-bottom: 0.5em;
      }

      p {
        margin: 0.25em 0;
        font-family: $font-sans-serif-alt;
      }
    }

    > .conversation-status {
      flex: none;
      @include flex;
      padding: 0.5em 1em 1em 1.5em;
      line-height: 1.75;
      text-transform: lowercase;
      z-index: 2;

      > * {
        color: lighten($color-text, 30%);
        opacity: 0;
        transition: opacity ease 0.2s, color ease 0.2s;
      }

      > :not(:last-child) {
        margin-right: 0.25em;
      }

      .audio-on-hover {
        opacity: 0.5 !important;
        box-sizing: border-box;
        width: 1.75em;
        height: 1.75em;
        background-image: inline-image("icon-speaker.svg");
        background-position: center;
        background-size: 0.9em 0.9em;
        background-repeat: no-repeat;
        background-color: $color-text-light;
        border-radius: 50%;
        border: solid 1px #f0f0f0;
        @include shadow(5);
      }
    }

    &:hover {
      @include shadow(6);
      border-color: #dadada;

      > .conversation-status {

        > * {
          opacity: 1 !important;
        }
      }
    }

    &.dark {
      background-color: #000;
      color: $color-text-light;

      > .conversation-meta {

        > [data-ica-conversation-meta="intro"] {
          display: none;
        }
      }

      > .conversation-status * {
        color: rgba($color-text-light, 0.60);

        &:hover {
          color: #fff !important;
        }
      }
    }
  }
}
