
.map {
  @include popup-series;

  h4 {
    margin: 2em 0 1em 1.5em;
    font-size: 1em;
    font-weight: 400;
    text-transform: uppercase;
    color: lighten($color-text, 20%);
  }

  .conversation {

    .conversation-nav {
      position: -webkit-sticky;
      top: 0;
      margin: 0 -1.5em;
      min-height: 2em;
      display: flex;
      background-color: #fff;
      border-bottom: solid 1px $color-border;
      z-index: $z-relative-topbar;
      @include shadow(2);
      overflow-y: hidden;
      border-radius: 1px 1px 0 0; // Fix sharp corners

      > * {
        line-height: 1.5;
        flex: 1 0 auto;
        text-align: center;
        padding: 0.25em 0;
        font-family: $font-mono;
        color: rgba($color-text, 0.80);
      }

      > .conversation-nav-btn {
        box-sizing: border-box;
        flex: none;
        width: 3em;
        background-size: 1em 1em;
        background-position: center;
        background-repeat: no-repeat;
        opacity: 0; // Default to hidden
        transition: opacity ease 0.2s, background-color ease 0.2s;

        &:hover {
          background-color: lighten($color-primary, 40%);
        }

        &.left {
          border-right: solid 1px $color-border;
          background-image: inline-image("icon-left.svg");
        }

        &.right {
          border-left: solid 1px $color-border;
          background-image: inline-image("icon-right.svg");
        }
      }
    }

    .sources-container {
      position: relative;
      margin: 0 -1.5em;

      > .sources {

        > .source {
          box-sizing: border-box;
          padding: 0 1.5em;

          &.meta {

            > .conversation-backdrop {
              position: relative;
              margin: 0 -1.5em;
              height: 0.6 * $card-width;
              max-height: 40vw;
              background-color: $color-border;

              > .conversation-backdrop-image {
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                background-size: cover;
                background-position: center;
              }
            }

            > .conversation-meta {
              margin: 1.5em 0;

              h3 {
                margin: 0.5em 0;
              }

              h4 {
                margin: 1.25em 0 0.625em 0;
                font-size: 0.875em;
                font-weight: 400;
                text-transform: uppercase;
                color: lighten($color-text, 20%);
                -webkit-user-select: text;
              }

              p {
                margin: 0.5em 0;
                font-family: $font-sans-serif-alt;
              }

              [data-ica-conversation-meta] {
                -webkit-user-select: text;
              }
            }
          }

          &.textsource {

          }

          &.imagesource {

            > .source-image {
              margin: 0 -1.5em;

              > img {
                box-sizing: border-box;
                display: block;
                width: 100%;
              }
            }
          }

          &.audiosource {

            > .plyr {
              position: -webkit-sticky;
              top: calc(2em + 1px);
              padding: 0 0.875em;
              border-bottom: solid 1px $color-border;
              z-index: $z-relative-topbar;
            }

            .text:empty {
              margin-top: -1px;
            }
          }

          &.videosource {

            > .plyr {
              border-bottom: solid 3px $color-border;
            }

            > .source-control {
              border-top: none;
            }
          }

          > .plyr {
            margin: 0 -1.5em;
            max-width: none;
            background-color: #fff;
          }

          > .conversation-control,
          > .source-control {
            @include flex;
            margin: 0 -1.5em;
            padding: 1.5em;
            color: lighten($color-text, 30%);
            border-top: solid 3px $color-border;

            > :not(:last-child) {
              margin-right: 0.5em;
            }
          }
        }
      }
    }
  }

  .discussion {

  }

  .response {

    .response-nav {
      @include flex;
      margin: 0 -0.75em;
      padding: 1em 0.75em;
      border-bottom: solid 1px $color-border;

      > * {
        padding: 0.5em 0;
        line-height:1;
      }

      > :not(:last-child) {
        margin-right: 1em;
      }

      > .response-meta {
        flex: 1 0 auto;
        padding: 0;

        .response-author {
          display: block;
          font-size: 1em;
          line-height: 1.2;
          height: 1.2em;
          margin: 0;
          font-weight: 500;
        }

        .response-timestamp-authored {
          display: block;
          font-size: 0.75em;
          margin: 0;
          padding-top: 0.1em;
          line-height: 1;
          color: lighten($color-text, 30%);
          font-weight: 500;
        }
      }

      > .response-control {
        @include flex;
        color: lighten($color-text, 30%);

        > :not(:first-child) {
          margin-left: 1em;
        }
      }
    }

    .response-message {

      .editor {
        @include quill-editor;
        font-family: $font-sans-serif-alt;
      }

      p {
        margin: 0.5em 0;
      }
    }

  }

  .responses,
  .thread {

    .response + .response {
      margin-top: 1em;
    }
  }

  .thread {
    margin-top: 1em;
  }

  .text {
    overflow: auto;

    & > p {
      margin: 1.25em 0;
      line-height: 1.5;
      font-family: $font-sans-serif-alt;

      & > span {
        display: inline;
        padding: 0.1em 0;
        transition: border-color ease 0.3s;
        -webkit-user-select: text;

        &[data-ica-text-extract]:not([data-ica-text-extract=""]) {
          background-color: rgba($color-primary, 0.40);
          border-bottom: solid 3px transparent;

          // Debugging purpose
          // &::before {
          //   content: attr(data-ica-textsource-extract);
          //   position: absolute;
          //   font-size: 0.5em;
          //   margin-top: -1em;
          //   font-style: italic;
          //   color: #444;
          // }
        }
      }
    }
  }
}
