
html {
  height: 100%;
}

body {
  margin: 0 8px;
  min-height: 100%;
  font-size: $font-size;
  background-color: $color-background;
  font-family: $font-sans-serif;
  font-weight: 400;
  color: $color-text;
  -webkit-user-select: none;
  -webkit-font-smoothing: antialiased;
}

h2 {
  display: block;
  font-size: 1.5em;
  line-height: 1;
  font-weight: 500;
  margin: 1em 0;
}

h3 {
  display: block;
  font-size: 1.5em;
  line-height: 1.2;
  font-weight: 500;
  margin: 1em 0;
}

h4 {
  display: block;
  font-size: 1em;
  line-height: 1.2;
  margin: 1.5em 0;
  font-weight: 500;
}

p {
  margin: 1.25em 0;
  line-height: 1.5;
}

a {
  color: inherit;
  text-decoration: none;
  transition: color ease 0.2s;

  &:active, &.active,
  &:focus,
  &:hover {

    &:not(.solid) {
      color: $color-primary;
    }
  }

  &:visited {
    color: inherit;
  }

  &:not([href]),
  &[href^="#"] {
    cursor: default;
  }
}

input,
textarea {
  border: none;
  outline: none;
}

::selection {
  background-color: rgba($color-accent, 0.40);
}

.color-primary {
  color: $color-primary !important;
}

[hidden] {
  display: none !important;
}

.hidden {
  opacity: 0 !important;
}

.dark {

  a {
    &:active, &.active,
    &:focus,
    &:hover {

      &:not(.solid) {
        color: $color-text-light !important;
      }
    }
  }
}