
.publisher-container {
  padding: 1em 0;
}

.publisher {
  box-sizing: border-box;
  margin: 2em auto;
  padding: 0 ($column-spacing / 2);
  max-width: $card-width;

  > .topbar-container {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    will-change: transform;
    box-shadow: none; // The default top bar already has shadow applied
  }

  h3 {
    margin: 2em 1.5em 1em;
    font-size: 1em;
    font-weight: 400;
    text-transform: uppercase;
    color: lighten($color-text, 20%);
  }

  .publisher-intro {
    margin: 2em 0;
    padding: 0 1.5em;
    color: lighten($color-text, 20%);

    > p {
      font-size: 0.875em;
      margin: 0.5em 0;
    }
  }

  .publisher-meta {
    margin: 1em 0;
  }

  .publisher-sources-container {

    > .publisher-sources {

      .publisher-source {
        width: auto;
        max-width: none;
        max-height: none;
        margin: 1em 0;

        > .topbar-container {
          position: -webkit-sticky;
          top: 3em;
          margin: 0 -1.5em;

          > .topbar {

            &::before,
            &::after {
              width: 1.5em;
            }
          }
        }

        > .source-container {
          margin: 0 -1.5em;
        }

        .text {
          margin-top: 1.5em;
          margin-bottom: 1.5em;
          padding: 0 1.5em;
          font-family: $font-sans-serif-alt;

          .ql-editor {
            min-height: 10em;
          }
        }

        &.publisher-textsource {

        }

        &.publisher-imagesource {

          .image {
            display: block;
            min-height: 10em;

            .image-view {
              display: block;
              width: 100%;
            }
          }
        }

        &.publisher-audiosource {

          .plyr {
            position: static;
            position: -webkit-sticky;
            top: 6em;
            border-bottom: solid 1px #f4f4f4;
            z-index: $z-popup;
          }
        }

        &.publisher-videosource {

        }
      }
    }

    > .publisher-sources-control {
      display: flex;
      flex-wrap: wrap;
      margin: 0 1em -0.5em 1.5em;
    }
  }

  .publisher-published-container {
    margin: 2em 1.5em;

    h3 {
      margin: 2em 0 1em;
    }
  }
}
