
.topbar-container {
  box-sizing: content-box;
  height: 3em;
  background-color: #fff;
  border-bottom: solid 1px $color-border;
  overflow-x: auto;
  justify-content: flex-start;
  font-weight: 700;
  cursor: default;
  -webkit-overflow-scrolling: touch;
  z-index: $z-relative-topbar;
  @include shadow(2);
}

.topbar {
  @include flex;
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;

  &::before,
  &::after {
    content: "";
    display: block;
    flex: 0 0 auto;
    width: $column-spacing / 2;
  }

  > * {
    list-style: none;
  }

  .topbar-title {
    display: block;
    flex: 0 0 auto;
    font-size: 1em;
    margin: 0 auto 0 0;
    padding: 1em 1.25em 1em 0;
    line-height: 1;
    font-weight: 700;
    color: lighten($color-text, 10%);
  }

  .topbar-title-complex {
    display: block;
    flex: 0 0 auto;
    margin: 0 auto 0 0;
    padding: 0.5em 1.25em 0.5em 0;

    .title {
      display: block;
      font-size: 1em;
      margin: 0;
      height: 1.25em;
      line-height: 1.25;
      font-weight: 700;
      color: $color-primary;
    }

    .subtitle {
      display: block;
      font-size: 0.75em;
      margin: 0;
      height: 1em;
      font-weight: 500;
      line-height: 1;
      color: lighten($color-text, 10%);
    }
  }

  nav {
    flex: 0 0 auto;

    ul {
      display: flex;
      margin: 0;
      padding: 0;

      li {
        flex: 0 0 auto;
        list-style: none;

        &:not(:last-child) {
          margin-right: 1.25em;
        }

        a {
          position: relative;
          display: block;
          padding: 1em 0;
          line-height: 1;
          font-weight: 500;
          color: lighten($color-text, 10%);

          &:active, &.active,
          &:focus,
          &:hover {
            color: $color-primary;
          }
        }
      }
    }
  }
}
