
.topbar-container {
  box-sizing: content-box;
  height: 3em;
  background-color: #fff;
  border-bottom: solid 1px $color-border;
  overflow-x: auto;
  justify-content: flex-start;
  font-weight: 700;
  cursor: default;
  -webkit-overflow-scrolling: touch;
  z-index: $z-relative-topbar;
  @include shadow(2);
}

.topbar {
  @include flex;
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;

  &::before,
  &::after {
    content: "";
    display: block;
    flex: 0 0 auto;
    width: $column-spacing / 2;
  }

  > * {
    list-style: none;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 0;
    font-size: 1em;
    line-height: 1;
    font-weight: 700;
    padding: 1em 0;
    flex: 1 0 auto;
    color: lighten($color-text, 10%);

    &:not(:last-child) {
      margin-right: 1.25em;
    }
  }

  .topbar-title-complex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    color: $color-primary;

    .subtitle {
      display: block;
      font-size: 0.75em;
      font-weight: 500;
      padding-top: 0.1em;
      line-height: 1;
      color: lighten($color-text, 10%);
    }
  }

  nav ul {
    display: flex;
    margin: 0;
    padding: 0;

    li {
      flex: 0 0 auto;
      list-style: none;

      &:not(:last-child) {
        margin-right: 1.25em;
      }

      a {
        position: relative;
        display: block;
        padding: 1em 0;
        line-height: 1;
        font-weight: 500;
        color: lighten($color-text, 10%);
      }
    }
  }
}
