
.topbar {
  @include flex;
  box-sizing: content-box;
  height: 3em;
  background-color: #fff;
  border-bottom: solid 1px $color-border;
  overflow-x: auto;
  justify-content: flex-start;
  font-weight: 700;
  cursor: default;
  -webkit-overflow-scrolling: touch;
  z-index: $z-relative-topbar;
  @include shadow(2);

  > .topbar-colspan {
    @include flex;
    box-sizing: border-box;
    margin: 0 auto;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;

    &::before,
    &::after {
      content: "";
      display: block;
      flex: 0 0 auto;
      width: $column-spacing / 2;
    }
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 0;
    font-size: 1em;
    line-height: 1;
    font-weight: 700;
    padding: 1em 0;
    flex: 1 0 auto;
    color: lighten($color-text, 10%);

    &:not(:last-child) {
      margin-right: 1.25em;
    }
  }

  .title-complex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    color: $color-primary;

    > * {
      flex: none;
    }

    > .subtitle {
      display: block;
      font-size: 0.75em;
      font-weight: 500;
      padding-top: 0.1em;
      line-height: 1;
      color: lighten($color-text, 10%);
    }
  }

  .topbar-item {
    position: relative;
    flex: 0 0 auto;
    padding: 1em 0;
    line-height: 1;
    font-weight: 500;
    color: lighten($color-text, 10%);

    &:not(:last-child) {
      margin-right: 1.25em;
    }
  }

  body > & {
    position: fixed;
    top: 0;
    right : 0;
    left: 0;

    & ~ .app-view {
      padding-top: 3em;
    }

    .topbar-item {

      &:after {
        display: block;
        position: absolute;
        content: "";
        right: -0.25em;
        bottom: 0;
        left: -0.25em;
        height: 0;
        background-color: transparent;

        transition: height ease 0.2s, background-color ease 0.2s;
      }

      &:hover,
      &.active {

        &:after {
          height: 1px;
          background-color: $color-primary !important;
        }
      }
    }
  }
}
