
/* Colors */

$color-primary: #f96a68;
$color-secondary: #1954a0;
$color-accent: #fed36d;
$color-text: #444;
$color-text-light: #fefefe;
$color-border: #ebebeb;
$color-background: #f9f9f9;
$color-background-light: #fcfcfc;

/* Fonts */

@import url("https://fonts.googleapis.com/css?family=Roboto+Mono|Roboto:400,500,700|Lato|Roboto+Slab");

$font-size: 16px;
$font-sans-serif: Roboto, sans-serif;
$font-sans-serif-alt: Lato, $font-sans-serif;
$font-serif: "Roboto Slab", serif;
$font-mono: "Roboto Mono", monospace;

/* Z-Index & Effects */

@mixin shadow($index) {
  box-shadow: 0 #{($index / 3) + "px"} #{($index * $index / 4) + "px"} rgba(#000, 0.01 * $index);
}

$z-popup: 10;
$z-relative-topbar: 8;

@mixin fade($offset: 0.5em, $angle: 0deg, $to: transparent) {
  -webkit-mask: linear-gradient($angle, $to, black $offset);
}

/* Main */

$card-width: 42 * $font-size;

$column-width: 300px;
$column-spacing: 8px;

/* Normalize */
@import "normalize";

@mixin flex {
  display: flex;

  > .flex-space {
    flex: 1 0 auto;
  }
}

/* Primitive components */
@import "tokens";
@import "card";
@import "spinner";

/* Larger components */
@import "form";
@import "topbar";
@import "notifications";
@import "prompts";

/** Customizations */
@import "plyr";
@import "quill";

/* App */
@import "publisher";
@import "explore";
@import "article";
@import "app";
