
/* Colors */

$color-primary: #fc4a1a;
$color-accent: #4abdac;
$color-text: #444;
$color-text-light: #fefefe;
$color-border: #ededed;

$color-background: #f9f9f9;

/* Fonts */

@import url("https://fonts.googleapis.com/css?family=Roboto+Mono|Roboto:400,500,700|Lato");

$font-sans-serif: Roboto, sans-serif;
$font-sans-serif-alt: Lato, $font-sans-serif;
$font-mono: "Roboto Mono", monospace;

/* Z-Index & Effects */

@mixin shadow($index) {
  box-shadow: 0 #{($index / 3) + "px"} #{($index * $index / 3) + "px"} rgba(#000, 0.02 * $index);
}

$z-popup: 10;
$z-relative-topbar: 8;

@mixin fade($offset: 0.5em, $angle: 0deg, $to: transparent) {
  -webkit-mask: linear-gradient($angle, $to, black $offset);
}

/* Main */

$column-width: 300px;
$column-spacing: 8px;

/* Normalize */
@import "normalize";

@mixin flex {
  display: flex;

  > .flex-space {
    flex: 1 0 auto;
  }
}

/* Primitive components */
@import "tokens";
@import "card";

/* Larger components */
@import "form";
@import "topbar";
@import "popup";
@import "waveform";
@import "notifications";
@import "prompts";

/** Customizations */
@import "plyr";
@import "quill";

/* App */
@import "publisher";
@import "explore";
@import "map";
@import "about";
@import "app";